@model ASP.NETCore.Models.ThreadCreateViewModel

<div class="">
    <h1 class="display-4 text-center">@Model.Board.Title</h1>
    <div class="forum-section">
        <div class="section-header">
            <h2>New Thread</h2>
        </div>
        <form class="thread" asp-route-id="@Model.Board.Serial" asp-action="New" asp-controller="Thread" method="POST">
            <div>
                <div class="thread-title">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <button class="create" type="submit">Create Thread</button>
        </form>
        @foreach (var thread in Model.Board.Threads)
        {
        <div class="thread">
            <div>
                <div class="thread-title">
                    <a class="post-link" asp-area="" asp-controller="Thread" asp-action="Index"
                        asp-route-id="@thread.Serial">
                        @Html.DisplayFor(modelItem => thread.Title)
                    </a>
                </div>
            </div>
            <div class="stats">
                <div>32 Posts</div>
            </div>
            <div class="thread-meta">
                Created by @Html.DisplayFor(modelItem => thread.User.UserName) <img class="post-pic"
                    src="@Html.DisplayFor(modelItem => thread.User.ProfilePicture)" /><br>
                @Html.DisplayFor(modelItem => thread.CreatedAt)
            </div>
        </div>
        }
    </div>

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }